# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

 *.iml
 modules.xml
 .idea/misc.xml
 .idea/*
 *.ipr

### Sass ###
.sass-cache/
*.css.map

## Build generated
build/
DerivedData/

